.lost-focus
{
    filter: opacity(25%);
}

.header-menu
{
    display: grid;
    grid-template-rows: auto auto auto auto;
    position: relative;
    grid-row: 3/4;
    grid-column: 1/4;
}

.header-menu a
{
    width: 100%;
    font-size: 5vw;
    padding: 10px;
    border-top: 1px solid white;
}

.header-menu a:active
{
    text-decoration: underline;
}

#category
{
    transition: 0.5s;
}

.chosen
{
    background: #3E435B;
}

.sub-menu
{
    display: grid;
    grid-template-rows: repeat(3, auto);
}

.sub-menu a
{
    font-size: 4vw;
    padding-left: 20px;
}

.burger-menu-icon 
{
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
    grid-column: 1/2;
    grid-row: 1/2;
    transition: 0.5s;
    outline: none;
}

.burger-menu-icon:active
{
    background: #3E435B;
}

.burger 
{
    position: absolute;
    background: white;
    width: 50%;
    height: 2.5px;
    top: 50%;
    left: 25%;
    opacity: 1;
}

.burger::before 
{
    position: absolute;
    background: white;
    width: 100%;
    height: 2.5px;
    top: 5px;
    content: "";
    display: block;
}

.burger::after
{
    position: absolute;
    background: white;
    width: 100%;
    height: 2.5px;
    bottom: 5px;
    content: "";
    display: block;
}

.burger::after, .burger::before, .burger 
{
    transition: all .3s ease-in-out;
}

.burger-menu-icon.menu-on .burger::after
{
    transform: rotate(-45deg);
    bottom: 0px;
}

.burger-menu-icon.menu-on .burger::before
{
    transform: rotate(45deg);
    top: 0px;
}

.burger-menu-icon.menu-on .burger
{
   background: rgba(111,111,111,.0);
}
/*--------*/

@media screen and (min-width: 1024px)
{
    .burger-menu-icon
    {
        display: none;
    }

    .header-menu
    {
        display: none;
    }
}
