.product-card{
    position: relative;
    width: 37.5vw;
    height: 56.25vw;
    float: left;
    margin: 4.5vw;
    border: 1px solid #BFC0C0;
    text-decoration: none;
    box-shadow: 2.5px 2.5px rgba(0, 0, 0, 0.4);
    background: white;
}

.product-card img{
    position: relative;
    width: 100%
}

.content-product-name
{
    width: 100%;
    position: absolute;
    color: white;
    font-size: 4vw;
    background: rgba(0,0,0,0.8);
    bottom: 18.75vw;
    padding-top: 5px;
    padding-bottom: 5px;
}

.content-product-price
{
    position: relative;
    color: black;
    font-weight: bold;
    margin: 10px;
    font-size: 5vw;
}

.content-product-price sup
{
    position: relative;
    font-size: 3vw;
}

@media screen and (min-width: 600px)
{
    .product-card
    {
        width: 25vw;
        height: 37.5vw;
        margin: 3.5vw;
    }

    .content-product-name
    {
        font-size: 2.5vw;
        bottom: 12.5vw;
    }

    .content-product-price
    {
        font-size: 3vw;
    }

    .content-product-price sup 
    {
        font-size: 1.5vw;
    }
}

@media screen and (min-width: 1024px)
{
    .product-card
    {
        width: 210px;
        height: 280px;
        margin: 16px;
        box-shadow: 0px 0px rgba(0, 0, 0, 0.4);
    }

    .content-product-name
    {
        font-size: 15px;
        bottom: 70px;
    }

    .content-product-price
    {
        font-size: 17px;
    }

    .content-product-price sup 
    {
        font-size: 9px;
    }
}

@media screen and (min-width: 1280px)
{
    .product-card
    {
        width: 270px;
        height: 360px;
        margin: 16px;
    }

    .content-product-name
    {
        font-size: 18px;
        bottom: 84px;
    }

    .content-product-price
    {
        font-size: 20px;
    }

    .content-product-price sup 
    {
        font-size: 12px;
    }
}