
body {
  background:url(../images/loginwallpaper.jpg) ;	
}


.wrapper {	
	margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
}

.form-signin {
  max-width: 75vw;
  border-radius: 10px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  

}
 .logo {
    margin-bottom: 30px;
    object-fit: contain;
     max-width:50vw
	}
  .password{
    text-align: left;
  }
	.checkbox {
    font-weight: normal;
    padding-left: 22px;
	}
  .sign-in
  {
    margin-bottom: 30px;
  }
	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
	}

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
  }
  .new-account   {
    display: block;
    margin-top: 10px;
    text-align: right;
    
  }
  @media screen and (min-width:1024px)
  {
    
    
.form-signin {
  max-width: 25vw;
  border-radius: 10px;

}
 .logo {
     max-width:13vw
  }
  

  }

