
.your-cart
{
    
    display: block;
    text-align: left;
    color:rgb(0, 0, 0);
    background: #ffffff;
    padding: 2vw 3vw 2vw;
    font-size: 5vw;
    margin: 6vw 1vw 3vw;
    font-weight:bold;
    font-size: 5vw;
    border-radius: 6px;
}
.your-cart img
{
    height: 5vw;
}

.products
{
    display:grid;
    padding-top:5vw;
    grid-template-columns: 30% 70%;
    padding-bottom: 5vw;
    max-width: 100%;
    padding: 1vw;
    align-items: center;
    background: #f8f8f8;
    margin: 4vw 2.5vw 4vw ;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.25);
  
}
.picture
{   
    text-align: center;
    padding-top:1vw;
    grid-column: 1/2;
}

.picture img
{
    height: 25vw;
    width:25vw;
    border-radius: 5px;
    
}
.information
{
    grid-column:2/3;
}
.product-name
{ 
    font-size:3vw;
    font-weight: bold;
    padding-bottom: 1vw;
    border-bottom: 1px solid rgb(202, 200, 200);
}
.product-price
{
    padding-top:1vw;
    font-size:5vw;
    padding-bottom: 1vw;
    font-weight: bolder;
}
.product-quantity
{
   
}

.remove-btn
{
    color:red;
}

.summary
{

    background: #f8f8f8;
    color: rgb(0, 0, 0);
    display:grid;
    padding: 3vw 2vw 3vw;
    margin: 3vw 2vw 3vw;
    font-size: 4vw;
    line-height: 12vw;
    grid-template-rows: auto auto auto auto auto;
    font-weight: bold;

    overflow: hidden;
    border-radius: 4px;
    box-shadow: 5px 6px 4px 1px rgba(0,0,0,.25);

}
.subtotal
{   display:grid;
    grid-row: 1/2;
    grid-template-columns: auto auto;
}
.subtotal-left
{   
    text-align: left;
    grid-column: 1/2;
}
.subtotal-right
{
    text-align: right;
    grid-column: 2/3;
}
.discount
{   
    display:grid;
    line-height: 6vw;
    grid-row: 2/3;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    padding-top: 1vw;
    padding-bottom: 2vw;
}


.description
{
    padding-top:5vw;
    grid-row:2/3;
    grid-column: 1/3;
    font-size: 3vw;
}


.discount-left
{   
    
    text-align: left;
    grid-row:1/2;
    grid-column: 1/2;
}
.discount-right
{
    grid-row: 1/2;
    text-align: right;
    grid-column: 2/3;
}

.discount .pull-right
{
   font-size: 4vw;
}
#discount-text
{
    background-color:  rgb(255, 255, 255); /* Green */
    color: rgb(0, 0, 0);
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 3vw;
    border: solid rgb(179, 179, 179) 0.3vw;
    margin: 4px 2px;
    width: 27vw;
    height: 5vw;
}
#discount-button
{
    background-color: rgb(9, 2, 36); /* Green */
    color: rgb(255, 255, 255);
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 3vw;
    border: solid rgb(179, 179, 179) 0.3vw;
    margin: 4px 2px;
    height:6vw;
}
.form-control {
    font-size: 16px;
    width: 33.5vw;
    height: 5vw;

}

  .discount .discount-left ,.discount .discount-right
{
    display: block;

    cursor: pointer;
    transition: 0.3s;
}

.total
{   
    border-top: 1px solid rgb(202, 200, 200);
    font-size:5vw;
    display:grid;
    grid-row: 3/4;
    grid-template-columns: auto auto;
    padding-top: 2vw;
}
.total-left
{   
    text-align: left;
    grid-column: 1/2;
}
.total-right
{
    text-align: right;
    grid-column: 2/3;
}
.discount a 
{
    font-size:3vw;
    font-weight: normal;
}
.checkout
{
    text-align: center;
    padding-top:3vw;
    grid-row: 4/5;
}
.checkout-button {
    background-color: rgb(49, 40, 99); 
    border: none;
    color: white;
    width: 85vw;
    height: 10vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 4vw;
    box-shadow: 3px 3px 4px 1px rgba(0,0,0,.25);
    cursor: pointer;
}
@media screen and (min-width: 1028px)
{       
    .body
    {
        display:grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: auto auto auto;
    }

        .your-cart
        {
            align-items: center;
            grid-column: 1/3;
            grid-row: 1/2;
            color:rgb(0, 0, 0);
            text-align: left;
            font-size: 33px;
            padding: 10px 15px 10px;
            margin: 0px 30px 15px;
            border: solid rgb(179, 179, 179) 0.1vw;
    
        }
        .your-cart img
        {
            height: 29px;
        }
        .products-wrapper
        {
            
        }
        .products
        {
            grid-column: 1/2;
            grid-row: 2/3;
            padding-top:0px;
            margin: 25px 10px 25px ;
            padding-bottom: 0px;
            grid-template-columns: 20% 80%;
          
        }
        .picture
        {   
            text-align: center;
            padding-bottom:15px;
            grid-column: 1/2;
        }
        
        .picture img
        {
            margin-top: 15px;
            height: 150px;
            width:150px;
            
        }
        .information
        {
            grid-column:2/3;
            margin-left:75px;
            text-align: left;
        }
        .product-name
        { 
            font-size:17pt;
            padding-bottom: 10px;
            border-bottom: 1px solid rgb(202, 200, 200);
        }
        .product-price
        {
            padding-top:1px;
            font-size:20pt;
            padding-bottom: 1px;
            font-weight: bolder;
        }
        .product-quantity
        {
           
        }
        
        .remove-btn
        {
            color:red;
        }
        
        .summary
        {
            grid-column: 2/3;
            grid-row: 2/3;
            margin: 25px auto auto;   
            padding: auto auto auto;
            font-size: 15pt;
            line-height: 10pt;
            grid-template-rows: auto auto auto auto auto;
            font-weight: bold;
        
        }
        .subtotal
        {   display:grid;
            grid-row: 1/2;
            grid-template-columns: auto auto;
            padding-bottom: 10px;
        }
        .subtotal-left
        {   
            text-align: left;
            grid-column: 1/2;
        }
        .subtotal-right
        {
            text-align: right;
            grid-column: 2/3;
        }
        .discount
        {   
            display:grid;
            line-height: 20px;
            grid-row: 2/3;
            grid-template-rows: auto auto;
            grid-template-columns: auto auto;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        
        
        .description
        {
            padding-top:20px;
            grid-row:2/3;
            grid-column: 1/3;
            font-size: 15pt;
        }
        
        
        .discount-left
        {   
            
            text-align: left;
            grid-row:1/2;
            grid-column: 1/2;
        }
        .discount-right
        {
            grid-row: 1/2;
            text-align: right;
            grid-column: 2/3;
        }
        
        .discount .pull-right
        {
           font-size: 22pt;
        }
        #discount-text
        {
            background-color:  rgb(255, 255, 255); /* Green */
            color: rgb(0, 0, 0);
            text-align: left;
            text-decoration: none;
            display: inline-block;
            font-size: 11pt;
            border: solid rgb(179, 179, 179) 0.2vw;
            margin: 0px 2px;
            width: 100px;
            height: 25px;
        }
        #discount-button
        {
            background-color: rgb(9, 2, 36); /* Green */
            color: rgb(255, 255, 255);
            text-align: left;
            text-decoration: none;
            display: inline-block;
            font-size: 11pt;
            border: solid rgb(179, 179, 179) 0.1vw;
            cursor: pointer;
            margin: 1px 1px;
            height:30px;
        }

          .discount .discount-left ,.discount .discount-right
        {
            display: block;
        
            cursor: pointer;
            transition: 0.3s;
        }
        
        .total
        {   
            border-top: 1px solid rgb(202, 200, 200);
            font-size:20pt;
            display:grid;
            grid-row: 3/4;
            grid-template-columns: auto auto;
            padding-top: 25px;
        }
        .total-left
        {   
            text-align: left;
            grid-column: 1/2;
        }
        .total-right
        {
            text-align: right;
            grid-column: 2/3;
        }
        .discount a 
        {
            font-size:12pt;
            font-weight: normal;
        }
        .checkout
        {
            text-align: center;
            grid-row: 4/5;
        }
        .checkout-button {
            background-color: rgb(49, 40, 99); 
            border: none;
            margin-bottom: 10px;
            color: white;
            width: 400px;
            height: 60px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 22pt;
            cursor: pointer;
        }
        .pull-right
        {
            padding-top:15px;
        }
}
